/*.hero {
  background-image: url("login-back.jpeg");
  background-position: cover;
  background-size: contain;
  position: absolute;
}
.logo {
  display: flex;
}
.chef-photo {
  width: 80px;
  height: 80px;
  display: flex;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1.5px solid rgb(255 255 255 / 35%);
}
.navbar > h1,
.navbar > navigationMenu {
  margin: 10px;
}
.navigationMenu > a {
  padding: 5px 10px;
  margin-left: 10px;
  text-decoration: none;
  color: black;
  display: inline-block;
}
.navigationMenu > a:hover {
  transition: ease-in-out 200ms;
  background: white;
}
@media only screen and (max-width: 760px) {
  .navigationMenu {
    display: none;
  }
}
.button {
  background-color: rgb(116, 116, 116);
  color: white;
  border-radius: 10px;
  padding: 5px 5px;
  font-size: 1rem;
  box-shadow: 0 3px #666;
}
.button:hover {
  background-color: #3e8e41;
}
.button span {
}
.button span:after {
  content: "&#8594";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  transform: ;
}

.button:hover span {
  padding-right: 25px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}
.restro-photo {
  width: 100%;
  height: 60vh;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
  filter: 5px;
}
.restro-near {
  width: 250px;
  height: 250px;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 10px;
  background: black;
}
.top-restro {
  width: 300px;
  height: 300px;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 10px;
  background: black;
}

@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
body {
  background-image: url("login-back.jpeg");
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}

body {
  font-family: "Lato", sans-serif;
  color: #4a4a4a;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

form {
  width: 350px;
  position: relative;
}
form .form-field::before {
  font-size: 20px;
  position: absolute;
  left: 15px;
  top: 17px;
  color: #888888;
  content: " ";
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
}
form .form-field:nth-child(1)::before {
  background-image: url(img/user-icon.png);
  width: 20px;
  height: 20px;
  top: 15px;
}
form .form-field:nth-child(2)::before {
  background-image: url(img/lock-icon.png);
  width: 16px;
  height: 16px;
}
form .form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1rem;
  position: relative;
}
form input {
  font-family: inherit;
  width: 100%;
  outline: none;
  background-color: #fff;
  border-radius: 4px;
  border: none;
  display: block;
  padding: 0.9rem 0.7rem;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  font-size: 17px;
  color: #4a4a4a;
  text-indent: 40px;
}
form .btn {
  outline: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  margin: 0 auto;
  padding: 0.9rem 2.5rem;
  text-align: center;
  background-color: #47ab11;
  color: #fff;
  border-radius: 4px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  font-size: 17px;
}
*/
*{
margin: 0;
padding: 0;
font-family: sans-serif;
}
.hero{
height: 100%;
width: 100%;
background-image:url("login-back.jpeg") ;
/*background-image:url(banner.jpg);*/
background-position: center;
background-size: cover;
position: absolute;

}

.form-box{
width: 240px;
height: 340px;
position: relative;
margin:6% auto;
margin-top:150px;
background: transparent;
border-radius:20px;
padding: 10px;
padding-left: 30px;
overflow: hidden;
}
.button-box{
width: 220px;
margin: 35px auto;
position:  relative;
box-shadow: 0 0 20px #ff61241f;
border-radius: 30px;
}
.toggle-btn{
padding:  10px 30px;
cursor: pointer;
background: transparent;
border: 0;
outline: none;
position: relative;
color:white;
}
#btn{
top:0;
left: 0;
position: absolute;
width: 110px;
height: 100%;
background: linear-gradient(to right,#ff105f,#ffad06);
border-radius: 30px;
transition: .5s;
}
/* .social-icons{
margin: 30px auto;
text-align: center;
}
.social-icons{
width: 10px;
margin: 0 12px;
box-shadow: 0 0 20px 0 #7f7f7f3d;
cursor: pointer;
border-radius: 50%;
} */
.input-groupl{
top: 110px;
position: absolute;
width: 280px;
transition:  .5s;
}
.input-groupr{
top: 110px;
position: absolute;
width: 280px;
padding-left: 10px;
transition:  .5s;
}
.input-field{
width: 100%;
padding: 10px 0;
margin: 5px 0;
border-left: 0;
border-top: 0;
border-right: 0;
border-bottom: 1px solid #999;
outline: none;
background: transparent;
color:white;
}
.submit-btnL{
width: 85%;
padding: 10px 30px;
cursor: pointer;
display: block;
margin: 50px auto;
background: linear-gradient(to right,#ff105f,#ffad06);
border: 0;
outline: none;
border-radius: 30px;
color:white;
}
.submit-btnR{
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: 20px auto;
  background: linear-gradient(to right,#ff105f,#ffad06);
  border: 0;
  outline: none;
  border-radius: 30px;
  color:white;
  }
/* .check-box{
margin: 30px 10px 30px 0; */
}
span{
color: #777;
font-size: 12px;
bottom: 50px;
position: absolute;
}
#login{
left: 10px;
}
#register{
left: 450px;
}
